/* ==================
     Global styles 
 ================== */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #303030;
	--border-color: #555555;
	--text-color: #cccccc;
}

body {
	font-family: "Inter", sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* ==================
     Title styles 
 ================== */
.title {
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.5rem;
	font-family: "Arvo", serif;
	padding: 0.5rem;
}

/* ==================
  Game board styles 
 ================== */
.gameboard {
	width: fit-content;
	margin-inline: auto;
}

.gameboard__row {
	display: flex;
	gap: 0.25rem;
	margin-bottom: 0.25rem;
}

.gameboard__cell {
	width: 3.5rem;
	height: 3.5rem;
	border: 2px solid var(--border-color);
	border-radius: 2px;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
	transition: 300ms;
}

/* ==================
  Game status styles 
 ================== */
.done {
	background-color: var(--border-color);
}

.exist {
	background-color: #919110;
}

.correct {
	background-color: #238d23;
}

/* ==================
   Keyboard styles 
 ================== */
.keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	width: 100%;
	bottom: 10px;
}

.keyboard__first,
.keyboard__second,
.keyboard__third {
	display: flex;
	gap: 0.25rem;
}

.keyboard__key {
	display: flex;
	width: 2.5rem;
	height: 3.25rem;
	background-color: #5a5a5a;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.keyboard__action {
	width: 4rem;
}

/* ==================
     Media queries 
 ================== */
@media screen and (max-width: 460px) {
	.keyboard__key {
		width: 2rem;
		height: 2.75rem;
		font-size: 0.75rem;
	}

	.keyboard__action {
		width: 3.25rem;
	}
}

/* ==================
      Animation 
 ================== */
.zoom__in {
	animation: zoom__in 300ms;
}

@keyframes zoom__in {
	from {
		transform: scale(2);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}
